<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Creditos</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="justify-content: space-between;">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>Valen Vugin</h2>
        <p>Valen es tan buena en informática que podría hackear tu refrigerador. Además, en su tiempo libre toca la guitarra eléctrica... ¡y también hackea guitarras!</p>
      </div>
      <div class="feature col">
        <img src="/Img/cheto.png" style="width:10vw;position:relative;left:30%;">  
      </div>

      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2>Dana Mandel</h2>
        <p>Dana es la reina de Star Wars y los códigos. Si alguna vez ves a una rebelde programando, ¡seguro es ella! También podría enseñarte a hablar como Yoda si le pides.</p>
      </div>

      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>Ari Castro</h2>
        <p>Ari tiene más pasión por los juegos de escape que por la pizza. Si la ves buscando pistas, mejor corre porque probablemente ella ya resolvió el enigma.</p>
      </div>
      <div class="feature col">
        <img src="/Img/cheto.png" style="width:10vw;position:relative;left:30%;">  
      </div>

      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2>Sashi Vila</h2>
        <p>Sashi tiene un superpoder: puede hacer que cualquier error en el código se solucione solo con mirar fijamente la pantalla. Si le preguntas por el "may the force", probablemente te dará una respuesta de Jedi.</p>
      </div>

      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>Loli Vazquez</h2>
        <p>Loli sabe más sobre escape rooms que sobre dormir. Si alguna vez necesitas escapar de un lugar, ella ya tiene el plan. Y probablemente un mapa en el bolsillo.</p>
      </div>
      <div class="feature col">
        <img src="/Img/cheto.png" style="width:10vw;position:relative;left:30%;">  
      </div>

      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2>Tomito Nacca</h2>
        <p>Tomito es tan apasionado por la informática que podría escribir código mientras duerme. Su superpoder: hacer que los sistemas operativos se sientan avergonzados por no funcionar tan bien como él.</p>
      </div>
    </div>
  </div>
