<h1> Protegido: Caballero Fantasma. </h1>

<p> Intentas salir por la última puerta pero te encuentras con un caballero fantasma.
<br>
– «Me llamo Argorión»
<br>
– «No pasarás»
<br>
– «Para que te pueda dejar pasar tendrás que darme el número mágico». </p>

<iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=1083d0862cdc&amp;view=iframe" style="width:100%;height:600px" frameborder="0" allowfullscreen=""></iframe>

<div class="validacion">
    <form asp-area="" asp-controller="Home" asp-action="Habitacion" method="POST">
        <input type="text"  autocomplete="off" name="clave" placeholder="Ingresar Clave">
        <input type="hidden"  autocomplete="off" name="sala" value="4">
        <input type="submit" id="submit-clave" value="Validar">
    </form>
</div>

<div class="pistas-container">
    <button class="pista-item" onclick="alert('Pista: No todos los escudos tienen algun simbolo...')"> Pista 1 </button>
    <button class="pista-item" onclick="alert('Pista: Contá las estrellas en los escudos...')"> Pista 2 </button>
    <button class="pista-item" onclick="alert('Pista: Ni mas que 6 y ni menos que 3...')"> Pista 3 </button>
</div>