<h1> Protegido: Caballero Fantasma. </h1>

<p> Te encuentras con un caballero fantasma.
<br>
– «Me llamo Argorión»
<br>
– «No pasarás»
<br>
– «Para que te pueda dejar pasar tendrás que darme el número mágico». </p>

<iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=1083d0862cdc&amp;view=iframe" style="width:100%;height:600px" frameborder="0" allowfullscreen=""></iframe>