<h1>Protegido: Entrada a las catacumbas.</h1>

<p>
La reina te muestra la entrada a las catacumbas de los misterios. 
Según te acercas a las escaleras y apenas ves el último escalón, te das cuenta que algo te paraliza y no eres capaz de pisar ni el primer escalón. De repente escuchas una voz que te exige que le recites la clave mágica para dejarte pasar. 
Se dice que estas escaleras son especiales y <i>cada escalon cuenta</i>.. Tambien sabemos que a esta voz le gustan los numeros y la cultura romana.
<b>¿Que le dices a la extraña voz? </b>
</p>
<img width="768" height="1024" src="https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-768x1024.jpg" class="attachment-large size-large" alt="Entrada." srcset="https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-768x1024.jpg 768w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-225x300.jpg 225w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-1152x1536.jpg 1152w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-830x1107.jpg 830w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-230x307.jpg 230w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-350x467.jpg 350w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto-480x640.jpg 480w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/puerta-del-laberinto.jpg 1440w" sizes="(max-width: 768px) 100vw, 768px">

<div class="validacion">
    <form asp-area="" asp-controller="Home" asp-action="Habitacion" method="POST">
        <input type="text"  autocomplete="off" name="clave" placeholder="Ingresar Clave">
        <input type="hidden"  autocomplete="off" name="sala" value="2">
        <input type="submit" id="submit-clave" value="Validar">
    </form>
</div>

<div class="pistas-container">
    <button class="pista-item" onclick="alert('Pista: Presta atnecion a la imagen...')"> Pista 1 </button>
    <button class="pista-item" onclick="alert('Pista: Cuantos escalones hay?...')"> Pista 2 </button>
    <button class="pista-item" onclick="alert('Pista: Recordá la importancia de los romanos...')"> Pista 3 </button>
</div>