<h1>Protegido: Esqueleto.</h1>


<p>Un esqueleto te dice «Si vultis dimittam te. Addere color eft quadratis ex se, et sic per ordinem inserere illos».</p>

<img width="1024" height="612" src="https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-1024x612.jpg" class="attachment-large size-large" alt="Esqueleto sumas" srcset="https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-1024x612.jpg 1024w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-300x179.jpg 300w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-768x459.jpg 768w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-830x496.jpg 830w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-230x137.jpg 230w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-350x209.jpg 350w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS-480x287.jpg 480w, https://laguaridadelasgargolas.com/wp-content/uploads/2020/04/005_SUMAS.jpg 1252w" sizes="(max-width: 1024px) 100vw, 1024px">