@{
    ViewData["Title"] = "La Conexión Perdida";
}

 
<div class="text-center logo">
<img src ="/Img/gargola.png">

<h1>La Conexión Perdida</h1>
<p><i>Carpe diem, tempus fugit</i></p>
</div>

<div class="text">
<p> 
      En un futuro no tan lejano, la humanidad descubrió un antiguo dispositivo de comunicación, olvidado en los pasajes más oscuros de la historia. Este dispositivo, conocido solo como La Conexión Perdida, estaba dotado de una tecnología tan avanzada que desbordaba la comprensión de la ciencia moderna. En su apogeo, se pensó que era la llave para conectar todo el conocimiento del universo en un solo punto, pero antes de que pudieran entender su verdadero poder, el dispositivo desapareció misteriosamente, dejándolos con más preguntas que respuestas.

A lo largo de los años, algunos aventureros se han adentrado en las ruinas donde el dispositivo fue originalmente encontrado, pero ninguno ha regresado con éxito. Las leyendas hablan de pistas codificadas que se encuentran en cada rincón, esperándote para que descifres el misterio y desbloquees el secreto que cambiará la historia para siempre.

Sin embargo, no eres el primer grupo que intenta desentrañar este enigma… y no serás el último. El tiempo corre, las fuerzas que custodian el secreto parecen estar despiertas, y el dispositivo parece tener una voluntad propia, desafiando a todo aquel que ose intentar controlar su poder.

¿Lograrás encontrar La Conexión Perdida antes de que sea demasiado tarde? Los ecos del pasado y las sombras del futuro se entrelazan en esta carrera contra el reloj. Tu inteligencia, tus habilidades y tu valentía serán puestas a prueba en cada rincón de este misterioso laberinto. ¡Solo los más astutos podrán desvelar el destino que aguarda a quienes se atrevan a enfrentar el reto!</p>
</div>
<div class= "Forms">
    <form asp-area="" asp-controller="Home" asp-action="Tutorial">
        <input type="submit" id="submit" value="Tutorial">
    </form>

    <form asp-area="" asp-controller="Home" asp-action="Habitacion">
        <input type="hidden"  autocomplete="off" name="clave" value="null" placeholder="Ingresar Clave">
        <input type="hidden"  autocomplete="off" name="sala" value="1">
        <input type="submit" id="submit" value="Comenzar">
    </form>

    <form asp-area="" asp-controller="Home" asp-action="Creditos">
        <input type="submit" id="submit" value="Creditos">
    </form>
</div>

