@{
    ViewData["Title"] = "La Leyenda del Duende";
}

 
<div class="text-center logo">
<img src ="/Img/gargola.png">

<h1> La leyenda del duende </h1>
<p><i>Carpe diem, tempus fugit</i></p>
</div>

<div class="text">
<p> 
      Eres un valiente montaraz que se ofrece a la Reina para librar a su reino del mal.
      Según la leyenda “Praecaventur medicina”, que personalmente te contó el duende de los bosques de “Cognitionis”, un trasgo escondió los sagrados pergaminos mágicos en el laberinto de los misterios.
      En estos sagrados pergaminos se encuentran los poderosos hechizos capaces de contrarrestar a la extraña maldición que asola el reino. La maldición Covid-19 que lanzó el brujo malvado del reino del Oriente.
      Tu misión es conseguir los pergaminos y entregárselos a la Reina para que pueda dárselos a los magos del reino y ofrecer protección al reino.
      El único pergamino que tiene la Reina en su poder te lo entrega. Pero te avisa que nunca lo ha podido descifrar ni sabe que utilidad tiene. Solo sabe que una mañana paseando por el bosque vio que se le caía a un duende.
      <b>¿Estás preparado?</b></p>
</div>
<div class= "Forms">
    <form action="Tutorial">
        <input type="submit" id="submit" value="Tutorial">
    </form>

    <form action="Habitacion1">
        <input type="submit" id="submit" value="Comenzar">
    </form>

    <form action="Creditos">
        <input type="submit" id="submit" value="Creditos">
    </form>
    </div>

