@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>  <h1> La leyenda del duende </h1>
<h3> 
      Eres un valiente montaraz que se ofrece a la Reina para librar a su reino del mal.
      Según la leyenda “Praecaventur medicina”, que personalmente te contó el duende de los bosques de “Cognitionis”, un trasgo escondió los sagrados pergaminos mágicos en el laberinto de los misterios.
      En estos sagrados pergaminos se encuentran los poderosos hechizos capaces de contrarrestar a la extraña maldición que asola el reino. La maldición Covid-19 que lanzó el brujo malvado del reino del Oriente.
      Tu misión es conseguir los pergaminos y entregárselos a la Reina para que pueda dárselos a los magos del reino y ofrecer protección al reino.
      El único pergamino que tiene la Reina en su poder te lo entrega. Pero te avisa que nunca lo ha podido descifrar ni sabe que utilidad tiene. Solo sabe que una mañana paseando por el bosque vio que se le caía a un duende.
      ¿Estás preparado
      La Reina para asegurarse que eres de fiar te hace una última pregunta.
     De los escudos de las familias reales ¿cuántos poseen estrellas?</h3></div>