<div>
<h1>Tutorial</h1>
</div>

<p>Vas a tener que ir resolviendo acertijos para poder ganar y poder salir de la sala de escape. 
Una vez que lo encuentres vas a tener que escribirlo en un chatbox para poder continuar y pasar a la siguiente sala. 
En el caso de que lo necesites, podes pedir hasta 3 pistas por acertijo para lograr resolverlo :)</p>

<p>Ejemplo:</p>
<iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=1e0886b92060&amp;view=iframe" style="width:50%;height:600px" frameborder="0" allowfullscreen=""></iframe>
<form action="">
    <input type="text" id="Numero" name="Numero2" placeholder="Encontrá la cantidad de escudos con estrellas">
    <input type="submit" id="submit-clave" value="Enviar Respuesta">
</form>

<div class="pistas-container">
    <button class="pista-item" onclick="alert('Pista: No todos los escudos tienen algun simbolo...')"> Pista 1 </button>
    <button class="pista-item" onclick="alert('Pista: Contá las estrellas en los escudos...')"> Pista 2 </button>
    <button class="pista-item" onclick="alert('Pista: Ni mas que 6 y ni menos que 3...')"> Pista 3 </button>
</div>

