@{
    ViewData["Title"] = "La Leyenda del Duende";
}

 
<div class="text-center logo">
<img src ="/Img/gargola.png">

<h1> La leyenda del duende </h1>
<p><i>Carpe diem, tempus fugit</i></p>
</div>

<div class="text">
<h2 style="position:relative;left:32%;">Felicidades! Has salido victorioso!</h2>
</div>
<div class= "Forms" style="justify-content: center;">
    <form asp-area="" asp-controller="Home" asp-action="Creditos">
        <input type="submit" id="submit" value="Creditos">
    </form>
</div>

